/* NavBar.css */

.top-bar {
  background-color: #004225;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  font-family: 'Arial', sans-serif; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  height: 50px;
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
  font-family: 'Arial', sans-serif;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, transform 0.2s;

  /* Adicionamos um padding para o espaçamento dos ícones */
  padding: 10px;
  border-radius: 10px;
}

nav a.active,
nav a:hover {
  color: #d5ffe1;
  transform: translateY(-2px);
}

nav svg {
  font-size: 28px; /* Aumentamos o tamanho dos ícones */
}

nav span {
  margin-top: 3px;
  display: none;
  font-size: 8px;
}

nav a:hover span {
  display: block;
}

nav .active {
  color: #c7ffb2;
}
