/* src/styles/NewsCard.css */

.news-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .icon {
    margin-right: 20px;
    color: #ff6600; /* Cor para o ícone */
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #555;
  }
  